@import 'src/styles/commonStyles/colorVariables';

.pokemonCard {
  border: 2px solid #ababab;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  &:hover{
    background: $lightGray;
  }
  img {
    width: 50%;
    height: 50%;
    margin: 0 auto;
  }
  p {
    text-align: center;
  }

}
.pokemon {
  padding: 0px 60px;
  padding-top: 10px;
}

.chosenPokemon {
  img{
    width: 20%;
    display: block;
    margin: 0 auto;
  }
  &__name{
    text-align: center;
    font-size: 24px;
    & span:first-letter{
      text-transform: uppercase;
    }
  }
}