@import 'src/styles/commonStyles/colorVariables';

.pokemonCard {
  border: 2px solid $darkGray;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  &:hover{
    background: $lightGray;
  }
  img {
    width: 50%;
    height: 50%;
    margin: 0 auto;
  }
  p {
    text-align: center;
  }

}
.pokemon {
  padding: 0px 60px;
  padding-top: 10px;
}

.chosenPokemon {
  img{
    width: 20%;
    display: block;
    margin: 0 auto;
  }
  p {
    text-align: center;
    font-size: 24px;
    & span:first-letter{
      text-transform: uppercase;
    }
  }
}

.chosenPokemonMain {
  min-width: 800px;

  .createButton {
    display: block;
    margin: 0 auto;
    margin-top: 25px;
  }
  &__pokemon{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    img {
      width: 25%;
    }
    &__form {
      display: flex;
      flex-direction: column;

      input{
        width: 190px;
      }
    }
  }
  &__select-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    svg{
      font-size: 33px;
      margin-top: 20px;
      &:hover {
        fill: red;
        cursor: pointer;
      }
    }
    .chosePokemonCard{
      padding: 0px 15px;
      margin-top: 15px;
      img{
        border: 2px solid $darkGray;
        border-radius: 7px;
        cursor: pointer;
        &:hover {
          background: $lightGray;
        }
      }
      img:not(:last-child) {
        margin-right: 15px;
      }
    }
  }
}

.abilityPage{
  width: 1200px;
  margin: 0 auto;
  .createbButton{
    display: block;
    margin: 0 auto;
    margin-top: 25px;
  }
  &__chosenAbilities{
    border-radius: 8px;
    margin-top: 15px;

    &__card {
      border-radius: 6px;
      background: $lightGray;
      border: 2px solid $blue;
      display: inline-block;
      padding: 5px 6px;
      margin: 4px 4px;
      cursor: pointer;
      display: inline-flex;
      align-items: center;
      svg {
        font-size: 22px;
        margin-left: 10px;
        &:hover{
          fill: $red
        }

      }

    }
  }
  &__selectAbility{
    margin-top: 15px;
    border: 2px solid $darkGray;
    border-radius: 7px;
    width: 600px;
    max-height: 400px;
    overflow: scroll;
    .abilityCard{
      display: flex;
      justify-content: space-between;
      &:not(:first-child) {
        padding-top: 10px;
      }
      &__text{
        display: flex;
        align-items: center;
        p {
          padding-left: 15px;
        }
      }
      button{
        vertical-align: top;
      }
    }
  }
  &__pokemonWrapp {
    display: flex;
    justify-content: center;
  }
  &__chosenPokemon{
    width: 600px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    p {
      font-size: 18px;
      font-weight: bold;
      text-align: center;
    }
    img {
      width: 50%;
    }
  }
}
.morePokemonInformationModal {
  background: red;
}

